<!DOCTYPE html>
<html>
    <head>
        <title>Hire Me</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles.css">       
    </head>
    <body class="hirebody">
        <div class="containerr">
            <div class="contact-boxx">
                <div class="left"></div>
                <form class="right" id="contactForm">
                    <h2>Contact Me</h2>
                    <input type="text" id="name" name="name" class="field" placeholder="Your Name" required>
                    <input type="text" id="email" class="field" name="email" placeholder="Your Email" required>
                    <textarea class="field" id="message" name="message" placeholder="Message" required></textarea>
                    <button type="submit" id="sendButton" class="btnn">Send</button>
                </form>

                <script>
                    document.getElementById("contactForm").addEventListener("submit", function(event) {
                      event.preventDefault(); // Prevent the form from submitting normally
                    
                      // Get form data
                      var formData = new FormData(document.getElementById("contactForm"));
                      var name = formData.get("name");
                      var email = formData.get("email");
                      var message = formData.get("message");
                    
                      // Send data to Telegram bot
                      var telegramBotToken = "6763152386:AAG4gIuhdsAapiGKhSLHfLkkaqkJ7zs937Y";
                      var telegramChatId = "1823111534";
                      var text = "Name: " + name + "\nEmail: " + email + "\nMessage: " + message;
                      var url = "https://api.telegram.org/bot" + telegramBotToken + "/sendMessage?chat_id=" + telegramChatId + "&text=" + encodeURIComponent(text);
                    
                      var xhr = new XMLHttpRequest();
                      xhr.open("POST", url, true);
                      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    
                      xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4) {
                          if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            if (response.ok) {
                              alert("Message sent successfully!");
                            } else {
                              alert("Failed to send message. Please try again later.");
                            }
                          } else {
                            alert("An error occurred while sending the message.");
                          }
                        }
                      };
                    
                      xhr.send("chat_id=" + telegramChatId + "&text=" + encodeURIComponent(text));
                    });
                    </script>
            </div>
        </div>
    </body>
</html>